.tag {
  display: inline-block;
  padding: 5px;
  margin: 2px;
  border-radius: 4px;
}

.scenario {
  display: inline-block;
  padding: 5px;
  margin: 2px;
  border-radius: 4px;
}

.scenario a:link, .scenario a:visited {
    color: white;
    text-decoration: none;
}

.tag-remove-btn {
  margin-left: 5px;
  cursor: pointer;
}

.ui-autocomplete {
  position: absolute;
  z-index: 1000;
}

.ui-autocomplete.ui-widget-content {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.ui-autocomplete .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
}

.dropdown-item:hover {
    cursor: pointer;
    background-color: #f6f6f6;
}

.category-dropdown-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* For better compatibility with Bootstrap */
.category-dropdown-wrapper select {
  width: auto;
  display: inline;
}

.category-label {
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
}

