{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row mt-5">
    <div class="col">
      <table id="scenario_table" class="table table-bordered table-striped table-hover" style="width:100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Teaser</th>
            <th>Author</th>
            <th>Year</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          {% for scenario in scenarios %}
          <tr>
            <td>{{ scenario.id }}</td>
            <td><a href="{{ scenario.url }}">{{ scenario.title }}</a></td>
            <td>{{ scenario.teaser }}</td>
            <td>{{ scenario.author }}</td>
            <td>{{ scenario.year }}</td>
            <td class="tag_cell">
              {% for tag in scenario.tags %}
              <div class="tag badge bg-secondary">{{ tag.name }}<span class="tag-remove-btn">x</span></div>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

