{% extends 'base.html' %}

{% block canonical %}
<link rel="canonical" href="https://www.dg-scenario-database.com/tags">
{% endblock %}

{% block content %}

<div class="container">
  <div class="row mt-5">
    <div class="col">

      <table id="tag_table" class="table table-bordered table-striped table-hover" style="width:100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tag</th>
            <th>Scenarios</th>
            {% if current_user.is_admin %}
            <th></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for tag in tags %}
          <tr>
            <td>{{ tag.id }}</td>
            <td>{{ tag.name }}</td>
            <td>
              {% for scenario in tag.scenarios %}
              <div class="scenario badge bg-secondary">
              <a href="{{ scenario.url }}">{{ scenario.title }}</a>
              </div>
              {% endfor %}
            </td>
            {% if current_user.is_admin %}
            <td>
              <button type="button" class="btn btn-secondary btn-sm">
                Delete
              </button>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{{ url_for('static', filename='js/tag_table.js') }}"></script>
{% endblock %}

